@import '~bulma/bulma.sass';

body {
  margin: 0;
  background: #3c40c6;
  color: #fff;
}

.container {
  color: #fff;
  padding: 1rem;
  margin-top: 1rem;
}

.draggable {
  padding: 1rem;
  background-color: white;
  border: 1px solid #ccc;
  cursor: move;
  transition: all .2s;

  &:hover{
    background-color: #ecf0f1;
  }
  &.dragging {
    opacity: .5;
  }
}
